In [ ]:
# download April-July 8day chlorophyll from coastwatch

# 2 use xarray to download data and save as .nc

In [1]:
import pandas as pd
import numpy as np
import os
import xarray as xr

In [3]:
# 1 get extent output from output of tanner_extent.R
ext = pd.read_csv("tannerbox.csv")
ext

            x
0 -178.969982
1   54.831499
2 -159.189982
3   61.920001

In [ ]:
# I started this but decided to just use some R code I already had... can revist later